body {
    margin: 0rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/*header*/

header {
    background-color: black;
    color: azure;
    margin: 0rem;
    display: flex;
    flex-direction: row;
    padding: 0 2rem;
    align-items: center;
    justify-content: space-between;
}

header img {
    width: 300px;
    height: auto;
}

header nav ul a {
    color: azure;
    text-decoration: none;
}

header nav ul {
    list-style-type: none;
}