body {
    margin: 0rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/*header*/

header {
    background-color: black;
    color: azure;
    margin: 0rem;
    display: flex;
    flex-direction: row;
    padding: 1rem 2rem;
    align-items: center;
    justify-content: space-between;
}

header img {
    width: 300px;
    height: auto;
    margin: 0;
}

header nav ul a {
    color: azure;
    text-decoration: none;
    font-size: larger;
    text-transform: uppercase;
}

header nav ul a:hover {
color:#cff61f;
border: solid 1px #cff61f;
padding: 0.5rem;
}

header nav ul {
    list-style-type: none;
    display: flex;
}

header nav ul li {
    margin: 2rem;
}
