---
import '../styles/style.css'
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg">
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>3153879 Arina Vidman</title>
	</head>
	<body>
		<header>
			<a href="/"><img src="logo.png"></a>
	
			<nav>
				<ul>
					<li><a href="/">Home</a></li>
					<li><a href="about">About</a></li>
					<li><a href="news">News/Tour</a></li>
					<li><a href="playlist">Playlist</a></li>
				</ul>
			</nav>

		</header>

		<main>
		<article>
		<h3>Trailblazing rapper, lyricist, and cultural icon redefining hip-hop.</h3>
		<p>Dive into the story of <span>a hip-hop icon</span> who redefined the music industry. From his raw beginnings in Detroit to becoming <span>one of the best-selling artists </span>of all time, Eminem’s journey is a testament to talent, resilience, and authenticity. Explore his groundbreaking songs, unforgettable lyrics, latest news and the future tour highlights. Whether you're a longtime fan or discovering his artistry for the first time, this is your ultimate destination to celebrate <span>the legacy of Marshall Mathers.</span></p>
	    </article>
		<img src="/Eminem.webp" alt="Photo of Eminem">
	</main>

	<footer>
		<p>Website is made by Arina Vidman 3153879</p> 
	</footer>

	</body>
</html>
