---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>3153879 Arina Vidman</title>
	</head>
	<body>
		<header>
			<h1>Eminem</h1></a>
    <h3>Website built by Arina Vidman 3153879</h3>
			<nav>
				<ul>
					<li>Home</li>
					<li>About</li>
					<li>News.Tour.</li>
					<li>Playlist</li>
				</ul>
			</nav>

		</header>

		<main>
		<h2>Eminem.</h2>
		<p>Dive into the story of a hip-hop icon who redefined the music industry. From his raw beginnings in Detroit to becoming one of the best-selling artists of all time, Eminem’s journey is a testament to talent, resilience, and authenticity. Explore his groundbreaking songs, unforgettable lyrics, latest news and the future tour highlights. Whether you're a longtime fan or discovering his artistry for the first time, this is your ultimate destination to celebrate the legacy of Marshall Mathers.</p>
		<img src="/public/Eminem.webp" alt="Photo of Eminem">
	</main>

	<footer>

	</footer>

	</body>
</html>
