---
import '../styles/style.css'
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg">
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>3153879 Arina Vidman</title>
	</head>
	<body>
        
		<header>
            <a href="/"><img src="/logo.png"></a>
            
			<nav>
				<ul>
					<li><a href="/">Home</a></li>
					<li><a href="/about">About</a></li>
					<li><a href="/news">News/Tour</a></li>
					<li><a href="/playlist">Playlist</a></li>
				</ul>
			</nav>

		</header>

		<main class="news">
            <div class="newstext">
            <h2>Eminem World Tour 2025</h2>
            <p>Eminem is hitting the stage again in 2025 with a highly anticipated world tour! Celebrating decades of iconic hits and his ever-evolving artistry, this tour promises unforgettable performances, explosive energy, and a connection with fans like never before. Don’t miss your chance to experience the legend live.</p>
            </div>
            <div class="cities">
            <h3>Tour Dates and Cities:</h3>
                <ul>
                    <li>February 16 - Dublin, Ireland</li>
                    <li>February 20 - Moscow, Russia</li>
                    <li>March 5 – London, UK</li>
                    <li>March 10 – Paris, France</li>
                    <li>March 15 – Berlin, Germany</li>
                    <li>March 20 – Rome, Italy</li>
                    <li>April 2 – New York City, USA</li>
                    <li>April 7 – Toronto, Canada</li>
                    <li>April 12 – Los Angeles, USA</li>
                    <li>May 10 – São Paulo, Brazil</li>
                </ul>
            </div>
            <div class="posts">
            <h3>Stay tuned for ticket announcements and additional dates!</h3>
		<p>Here our fans shared their emotions about last concerts during the World Tour 2024:</p>

        <ul class ="postgallery">
            <li><img src="post1.jpg"><p>"Attending Eminem's concert was like stepping into a time capsule"</p><a href="/posts/post1">Click here to see the whole review</a></li>
            <li><img src="post2.jpg"><p>"Eminem’s performance was an absolute masterclass in showmanship"</p><a href="/posts/post2">Click here to see the whole review</a></li>
            <li><img src="post3.jpg"><p>"Eminem’s concert was a journey through both his music and his story"</p><a href="/posts/post3">Click here to see the whole review</a></li>
        </ul>
            </div>
	</main>

	<footer>
		<p>Website is made by Arina Vidman 3153879</p> 
	</footer>

	</body>
</html>
