---
import '../styles/style.css'
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg">
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>3153879 Arina Vidman</title>
	</head>
	<body>
		<header>
                <a href="/"><img src="logo.png"></a>
                
			<nav>
				<ul>
					<li><a href="/">Home</a></li>
					<li><a href="about">About</a></li>
					<li><a href="news">News.Tour.</a></li>
					<li><a href="playlist">Playlist</a></li>
				</ul>
			</nav>

		</header>

		<main class="playlist">
		<h2>Eminem's best songs:</h2>
		<p>Here you can find top-songs of the legend:</p>
	</main>

	<footer>
		<p>Website is made by Arina Vidman 3153879</p> 
	</footer>

	</body>
</html>
