---
import '../styles/style.css'
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg">
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>3153879 Arina Vidman</title>
	</head>
	<body>
		<header>
                <a href="/"><img src="/logo.png"></a>
                
			<nav>
				<ul>
					<li><a href="/">Home</a></li>
					<li><a href="/about">About</a></li>
					<li><a href="/news">News/Tour</a></li>
					<li><a href="/playlist">Playlist</a></li>
				</ul>
			</nav>

		</header>

		<main class="playlist">
		<h2>Song Titles</h2>
		<p>Here you can find top-songs of the legend</p>
		<ul id="playlist">
			<li>Mockingbird</li>
			<li>My Name Is</li>
			<li>Berzerk</li>
			<li>Lose Yourself</li>
		</ul>
		<p>What song do you want to add?</p>
		<form>
			<label for="name">Song:</label>
			<input type="text" id="name" placeholder="Enter your song here">
			<button id="submit" type="submit">Submit</button>
		</form>
	
			<br> 
            <button id="shuffleButton">Shuffle List</button>
	
	</main>

	<footer>
		<p>Website is made by Arina Vidman 3153879</p> 
	</footer>
    <script src="/public/js/playlist.js"></script>
	</body>
</html>
